@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root{
--cor-de-fundo:#4d3d3d;
--texto1:#ff0000;
--texto2:#ff0000;
--botao-ativo:#3a375e;
--botao-inativo:rgba(203, 199, 245, 0.5);
--texto-fundo:rgba(58, 55, 94, 0.3);
}

body{
    background-color:var(--cor-de-fundo);
    color:var(--texto1);
    font-family: "Silkscreen", sans-serif;
}

